{{ $pageLang := .Page.Lang }}
{{ $translations := slice }}
{{ $docspath := $.Scratch.Get "pathName" }}

{{ $isDev := or (in .Site.BaseURL "localhost") (in .Site.BaseURL "127.0.0.1") }}
{{ $ptDomain := cond $isDev "http://localhost:1313" "https://servicosgratis.com.br" }}
{{ $enDomain := cond $isDev "http://127.0.0.1:1313" "https://freeservices.dev" }}

{{ $currentPath := .RelPermalink }}

{{ if eq $pageLang "pt" }}
    {{ if strings.HasPrefix .Site.BaseURL $enDomain }}
        <script>
            window.location.href = "{{ $ptDomain }}/pt{{ $currentPath }}";
        </script>
    {{ end }}
{{ else if eq $pageLang "en" }}
    {{ if strings.HasPrefix .Site.BaseURL $ptDomain }}
        <script>
            window.location.href = "{{ $enDomain }}{{ $currentPath | replaceRE "^/pt/" "/" }}";
        </script>
    {{ end }}
{{ end }}

{{ range .Translations }}
    {{ $translations = $translations | append .Lang }}
    <li>
        <a class="dropdown-item" 
           href="{{ if eq .Lang "pt" }}{{ $ptDomain }}/pt{{ $currentPath }}{{ else }}{{ $enDomain }}{{ $currentPath | replaceRE "^/pt/" "/" }}{{ end }}" 
           role="button" rel="alternate" hreflang="{{ .Lang }}" lang="{{ .Lang }}">{{ .Language.LanguageName }}
        </a>
    </li>
{{ end }}

{{ range .Site.Languages }}
    {{ if ne $pageLang .Lang }}
        {{ if not (in $translations .Lang) }}
            <li>
                <a class="dropdown-item" 
                   href="{{ if eq .Lang "pt" }}{{ $ptDomain }}/pt{{ $currentPath }}{{ else }}{{ $enDomain }}{{ $currentPath | replaceRE "^/pt/" "/" }}{{ end }}" 
                   role="button" rel="alternate" hreflang="{{ .Lang }}" lang="{{ .Lang }}">{{ .LanguageName }}
                </a>
            </li>
        {{ end }}
    {{ end }}
{{ end }}