<!-- sidebar-wrapper -->
<nav id="sidebar" class="sidebar-wrapper">
    <div class="sidebar-brand">
        <a href='{{ with .Site.Params.docs.logoLinkURL }}{{ . }}{{ else }}{{ relLangURL "" }}{{ end }}' aria-label="Home" alt="Home">
            <img id="sidebar-logo" class="sidebar-logo" 
                 src="{{ if eq .Site.Language.Lang "en" }}{{ "/images/logos/FS_color.svg" | relURL }}{{ else }}{{ "/images/logos/SG_color.svg" | relURL }}{{ end }}" 
                 alt="Logo"
                              data-logo-en-color="{{ "/images/logos/FS_color.svg" | relURL }}"
             data-logo-en-white="{{ "/images/logos/FS_white.svg" | relURL }}"
             data-logo-pt-color="{{ "/images/logos/SG_color.svg" | relURL }}"
             data-logo-pt-white="{{ "/images/logos/SG_white.svg" | relURL }}">
        </a>
    </div>
    <div class="sidebar-content" style="height: calc(100% - 131px);">
        <ul class="sidebar-menu">
            {{ $currentPage := . -}}

            <!-- Listagem de páginas diretamente na raiz do content -->
            {{ range .Site.RegularPages }}
                {{ if eq .Section "" }}
                    <li class="{{ if eq $currentPage.RelPermalink .RelPermalink }}current{{ end }}">
                        <a class="sidebar-root-link" href="{{ .Permalink }}">
                            {{ if eq .Site.Params.docs.sidebarIcons true }}
                                <i class="material-icons me-2">{{ .Params.icon | default "insert_drive_file" }}</i>
                            {{ end }}
                            {{ .Title }}
                        </a>
                    </li>
                {{ end }}
            {{ end }}


            {{ $section := $currentPage.Section -}}
            {{ range .Site.Sections.ByWeight }}
                {{ $child_pages := union .Sections .Pages }}
                {{ range $child_pages.ByWeight }}
                    {{ if or (.Sections) (.Pages) }}
                    {{ $active := in $currentPage.RelPermalink .RelPermalink }}
                        <li class="sidebar-dropdown {{ if eq .Site.Params.docs.sidebarIcons true -}}{{ else }}no-icon{{ end }} {{ if $active }}current active{{ end }}">
                            <button class="btn">
                                {{ if eq .Site.Params.docs.sidebarIcons true -}}
                                    <i class="material-icons me-2">{{- .Params.icon | default "notes" }}</i>
                                {{ end }}
                                {{- .Title }}
                            </button>
                            <div class="sidebar-submenu {{ if $active }}d-block{{ end }}">
                                <ul>
                                    {{ range .Pages }}
                                        {{ $active := in $currentPage.RelPermalink .RelPermalink }}
                                        {{ if .IsSection }}
                                            <li class="sidebar-dropdown nested {{ if eq .Site.Params.docs.sidebarIcons true -}}{{ else }}no-icon{{ end }} {{ if $active }}current active{{ end }}">
                                                <button class="btn">
                                                    {{ if eq .Site.Params.docs.sidebarIcons true -}}
                                                        <!-- <span class="material-icons me-2">{{- .Params.icon }}</span> -->
                                                    {{ end }}
                                                    {{- .Title }}
                                                </button>
                                                <div class="sidebar-submenu {{ if $active }}d-block{{ end }}">
                                                    <ul>
                                                        {{ range .Pages }}
                                                            {{ $active := in $currentPage.RelPermalink .RelPermalink }}
                                                            {{ if .IsSection }}
                                                                <li class="sidebar-dropdown nested {{ if eq .Site.Params.docs.sidebarIcons true -}}{{ else }}no-icon{{ end }} {{ if $active }}current active{{ end }}">
                                                                    <button class="btn">
                                                                        {{ if eq .Site.Params.docs.sidebarIcons true -}}
                                                                            <!-- <span class="material-icons me-2">{{- .Params.icon }}</span> -->
                                                                        {{ end }}
                                                                        {{- .Title }}
                                                                    </button>
                                                                    <div class="sidebar-submenu {{ if $active }}d-block{{ end }}">
                                                                        <ul>
                                                                            {{ range .Pages }}
                                                                                {{ $active := in $currentPage.RelPermalink .RelPermalink }}
                                                                                {{ if .IsSection }}
                                                                                    <li class="sidebar-dropdown nested {{ if eq .Site.Params.docs.sidebarIcons true -}}{{ else }}no-icon{{ end }} {{ if $active }}current active{{ end }}">
                                                                                        <button class="btn">
                                                                                            {{ if eq .Site.Params.docs.sidebarIcons true -}}
                                                                                                <!-- <span class="material-icons me-2">{{- .Params.icon }}</span> -->
                                                                                            {{ end }}
                                                                                            {{- .Title }}
                                                                                        </button>
                                                                                        <div class="sidebar-submenu {{ if $active }}d-block{{ end }}">
                                                                                            <ul>
                                                                                                {{ range .Pages }}
                                                                                                    {{ $active := in $currentPage.RelPermalink .RelPermalink }}
                                                                                                    <li class="{{ if $active }}current{{ end }} {{ if eq .Site.Params.docs.sidebarIcons true -}}{{ else }}no-icon{{ end }}"><a class="sidebar-nested-link" href="{{ .Permalink }}">{{ .Title }}</a></li>
                                                                                                {{ end }}
                                                                                            </ul>
                                                                                        </div>
                                                                                    </li>
                                                                                {{ else }}
                                                                                    <li class="{{ if $active }}current{{ end }} {{ if eq .Site.Params.docs.sidebarIcons true -}}{{ else }}no-icon{{ end }}"><a class="sidebar-nested-link" href="{{ .Permalink }}">{{ .Title }}</a></li>
                                                                                {{ end }}
                                                                            {{ end }}
                                                                        </ul>
                                                                    </div>
                                                                </li>
                                                            {{ else }}
                                                                <li class="{{ if $active }}current{{ end }} {{ if eq .Site.Params.docs.sidebarIcons true -}}{{ else }}no-icon{{ end }}"><a class="sidebar-nested-link" href="{{ .Permalink }}">{{ .Title }}</a></li>
                                                            {{ end }}
                                                        {{ end }}
                                                    </ul>
                                                </div>
                                            </li>
                                        {{ else }}
                                            <li class="{{ if $active }}current{{ end }} {{ if eq .Site.Params.docs.sidebarIcons true -}}{{ else }}no-icon{{ end }}"><a class="sidebar-nested-link" href="{{ .Permalink }}">{{ .Title }}</a></li>
                                        {{ end }}
                                    {{ end }}
                                </ul>
                            </div>
                        </li>
                    {{ else }}
                        {{ $active := in $currentPage.RelPermalink .RelPermalink }}
                            {{ if not (or (strings.Contains .RelPermalink "/pt/") (strings.Contains .RelPermalink "/es/") ) }}
                            <li class="{{ if $active }}current{{ end }}">
                                <a class="sidebar-root-link" href="{{ .Permalink }}">
                                    {{ if eq .Site.Params.docs.sidebarIcons true -}}
                                        <i class="material-icons me-2">{{ .Params.icon }}</i> {{ .RelPermalink }}
                                    {{ end }}
                                    {{ .Title }}
                                </a>
                            </li>
                        {{ end }}
                    {{ end }}
                {{ end }}
            {{ end }}
        </ul>
        <!-- sidebar-menu  -->
        <div class="mt-3 text-center">
            Sponsor by:
        </div>
        <!-- Sponsors -->
        <div class="sponsor-logo mt-3 text-center">
            <a href="https://letscloud.io" target="_blank">
                <img src="{{ "/images/sponsor-letscloud.png" | relURL }}" alt="LetsCloud" style="max-width: 90%; height: auto;">
            </a>
        </div>
        
   </div>
    <!-- Sidebar Footer -->
        <ul class="sidebar-footer list-unstyled mb-0">
            <!-- <li class="list-inline-item mb-0">
                <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#lang-selector-popup" class="btn btn-primary m-1">Language</a>
            </li> -->
        </ul>
    <!-- Sidebar Footer -->
</nav>
<!-- sidebar-wrapper  -->